<p>Header</p>
<nav>
  <a routerLink="/">CASA</a><br>
  <a routerLink="/list">Lista De Prostitutas</a><br>
  <a routerLink="/Parent">Parentes</a><br>
  <a routerLink="Direct">Diretiva</a><br>
  <a routerLink="/IF">IFS</a><br>
  <a routerLink="/Eventos">Eventos</a><br>
  <a routerLink="/Enitter">Enitter</a><br>
  <a routerLink="/Change">Mudança</a><br>
  <a routerLink="/Pipes">Cano</a><br>
  <a routerLink="/Two">Dois</a><br>


</nav>
<h1>Hello World BITCH</h1>
<router-outlet></router-outlet>
<p>Footer</p>